/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'JetBrains Mono', monospace;
    color: #DCE4EE; /* WHITE */
    background-color: #272727; /* BG_COLOR_D */
    line-height: 1.6;
}

.logo {
    font-family: "Manrope";
    color:#45e876;
}
.shine{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0px 0px;
  color: #45e876;
  background: linear-gradient(to right, #36543F 0%, #45e876 20%, #36543F 10%);
  background-position: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 450;
  font-size: 2rem;
  font-family: "Manrope";
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
}
@keyframes shine{
  0%{
    background-position: 0px;
  }
  60%{
    background-position: 222px
  }
  100%{
    background-position: 370px;
  }
}

/* Header Styles */
header {
    background: #333333; /* BG_COLOR */
    padding: 1rem;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tab-menu {
    background-color: #333333; /* Dark background */
    padding: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li {
    padding: 10px 20px;
}

.nav-links a {
    font-family: 'JetBrains Mono', monospace; /* Kleine Links */
    color: #DCE4EE; /* WHITE */
    text-decoration: none;
}

.nav-links a:hover {
    color: #45e876; /* GREEN */
    text-decoration: underline;
    text-decoration-style: wavy;
}

.link {
    font-family: "JetBrains Mono", monospace;
    color:#45e876;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}

/* Hero Section Styles */
#hero {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DCE4EE; /* WHITE */
    text-align: center;
    background-color: #272727; /* BG_COLOR_D */
}
p {
    margin: 10px 0;
}

mark.green {
    color:#45e876;
    background-color: transparent;
}

.hero-content h2 {
    font-family: 'Manrope', sans-serif; /* Überschrift in Manrope */
    font-size: 2.5rem;
}

.hero-content p {
    font-family: 'JetBrains Mono', monospace; /* Paragraph in JetBrains Mono */
    font-size: 1.25rem;
}

.btn {
    font-family: 'Manrope', sans-serif; /* Button in Manrope */
    background: #45e876; /* GREEN */
    color: #272727; /* GREEN_B */
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
}

.btn:hover {
    background: #3c8e55; /* GREEN_D */
    color:#45e876;
    box-shadow: 0px 0px 5px 0px #333333, 0px 0px 10px 0px #36543F,0px 0px 15px 0px #3c8e55, inset 0px 0px 1px 0px #45e876;
    -webkit-box-shadow: 0px 0px 5px 0px #333333, 0px 0px 10px 0px #36543F,0px 0px 15px 0px #3c8e55, inset 0px 0px 1px 0px #45e876;
    -moz-box-shadow: 0px 0px 5px 0px #333333, 0px 0px 10px 0px #36543F,0px 0px 15px 0px #3c8e55, inset 0px 0px 1px 0px #45e876;

}

/* Section */
section {
    padding: 50px;
    text-align: center;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.feature-item {
    background: #272727; /* BG_COLOR_D */
    padding: 20px;
    border-radius: 8px;
    color: #DCE4EE; /* WHITE */
    border-color:#272727;
    border-style:solid;
    border-width: 2px;
}

/* Hover effect for feature items */
.feature-item:hover {
    border-color: #45e876;
    border-style:solid;
    border-width: 2px;
    color:#45e876
}
.image-shadow {
    margin-top: 20px;
    box-shadow: 0px 0px 30px 0px #36543F;
    -webkit-box-shadow: 0px 0px 30px 0px #36543F;
    -moz-box-shadow: 0px 0px 30px 0px #36543F;
    transition-duration: 300ms;
}
.image-shadow:hover {
    box-shadow: 0px 0px 50px 0px #45e876;
    -webkit-box-shadow: 0px 0px 50px 0px #45e876;
    -moz-box-shadow: 0px 0px 50px 0px #45e876;
}

/* Footer Styles */
footer {
    background: #333333; /* BG_COLOR */
    color: #DCE4EE; /* WHITE */
    padding: 20px;
    text-align: center;
}

footer a {
    font-family: 'JetBrains Mono', monospace; /* Footer Links in JetBrains Mono */
    color: #e8c745; /* YELLOW */
    text-decoration: underline;
}

footer a:hover {
    color: #e84555; /* RED */
    text-decoration-style:wavy;
}
