---
permalink: /index.html
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>YMU - YimMenuUpdater</title>
    <script>
      (function () {
        const darkModeBg = "#121212";
        const lightTextColor = "#e0e0e0";
        let theme = "light";
        try {
          const storedTheme = localStorage.getItem("theme");
          if (storedTheme) {
            theme = storedTheme;
          } else if (
            window.matchMedia("(prefers-color-scheme: dark)").matches
          ) {
            theme = "dark";
          }
        } catch (e) {}

        if (theme === "dark") {
          document.documentElement.style.backgroundColor = darkModeBg;
          document.documentElement.style.color = lightTextColor;
        }
      })();
    </script>
  </head>
  <body>
    <p>If you are not redirected automatically, please select your language:</p>
    <ul>
      {%- for item in languages.items %}
        <li><a href="/{{ item.code }}/">{{ item.label }}</a></li>
      {%- endfor %}
    </ul>
  </body>
</html>